html,
body,
*,
*:focus {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  background: none;
  text-decoration: none;
  font-size: 1em;
  font-style: normal;
  font-family: 'EB Garamond', serif;
}

* {
  -webkit-overflow-scrolling: touch;
}

$dark-accent: rgb(128, 189, 225);
$accent: rgb(163, 221, 255);
$pale-accent: rgba(163, 221, 255, 0.5);
$background: rgb(255, 255, 255);
$foreground: rgb(255, 255, 255);
$color-main: rgb(101, 101, 101);
$shadow: rgba(40, 40, 40, 0.1);

// begin fluid type

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 500px;
$max_width: 1400px;
$min_font: 14px;
$max_font: 22px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

// end fluid-type

h2,
a,
a:visited,
a:hover {
  color: $accent;
}

h1,
h3 {
  font-family: "Oxygen", sans-serif;
  color: $dark-accent;
}

h2 {
  font-family: "Oxygen", sans-serif;
}

em, a {
  font-size: inherit !important;
  font-family: inherit !important;
}

em {
  color: $dark-accent;
}

body {
  width: 100vw;
  height: auto;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: $background;

  nav {
    position: relative;
    background: $foreground;
    box-shadow: 0 0 20px rgba(146, 146, 146, 0.171);
    z-index: 100;
    display: flex;

    h1 {
      font-size: 1.4em;
      cursor: default;
    }
    h2 {
      text-align: center;
    }
    button {
      font-size: 1em;
      cursor: pointer;
    }
    ul {
      > li > button {
        color: $accent;

        &, &:hover, &:visited, &:focus, &:focus-within {
          border-radius: 2px;
          border: 1px solid $accent;
        }

        &:hover {
          color: $pale-accent;
        }
      }
    }
  }

  main {
    position: relative;
    padding: 0 1em 1em;
    overflow: scroll;

    section {
      position: relative;
      background: $foreground;
      box-shadow: 0 0 12px $shadow;
      padding: 0 1em 1em;
      margin: 1em auto;
      box-sizing: border-box;

      &:first-of-type {
        margin-top: 1em;

        picture-frame {
          height: auto;

          img {
            position: relative;
            width: 100%;
          }
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }

      h2 {
        padding: 1em 0;
        border-bottom: 2px solid $accent;
        background: $foreground;
      }

      p {
        padding: 1em 0;
        font-size: 1em;
        color: $color-main;
      }

      picture-frame {
        position: relative;
        width: calc(100% - 2em);
        max-width: 500px;
        box-shadow: 0 0 10px rgba(46, 46, 46, 0.534);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
        overflow: hidden;
        box-sizing: border-box;
        height: auto;

        img {
          position: relative;
        }
      }

      article {
        padding: 1em 0 1em 1em;
        border-left: 2px solid $accent;
        margin-top: 1em;

        &:not(:last-of-type) {
          margin-bottom: 1em;
        }

        > :not(:first-child) {
          padding: 1em 0 0;
        }
      }
    }
  }

  &.tall {
    height: 100vh;

    nav {
      position: fixed;
      top: 0;
      width: 100%;

      > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 100%;

        > div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 2em;

          > h2 {
            display: none;
          }
        }
        > ul {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          > li {
            list-style: none;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;

            > button {
              height: calc(100% - 2em);
              box-sizing: border-box;
              margin: 0.5em;
              padding: 0 1.5em;
            }
          }
        }
      }
    }

    main {
      width: 100%;

      section > h2 {
        position: relative !important;
      }
    }
  }

  &.wide {
    min-height: 100vh;
    flex-wrap: nowrap;

    nav {
      align-self: stretch;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 100vh;

      > div {
        position: absolute;
        right: 0;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        > div {
          padding: 1em;

          h1 {
            padding: 0.5em;
            text-align: center;
          }
        }

        > ul {
          padding: 1em;
          list-style-type: none;
          overflow-y: scroll;
          box-sizing: border-box;
          width: 100%;

          > li > button {
            width: 100%;
            cursor: pointer;
            background: $foreground;
            padding: 1.5em 0.5em;
          }
        }
      }
    }

    main {
      align-self: stretch;

      section {
        min-height: calc(100vh - 1em);
        margin: 1em auto;
        &:last-of-type {
          margin-bottom: 0;
        }

        > h2 {
          position: sticky;
          top: -1px;
          z-index: 60;
        }
      }
    }
  }

  &.mobile {
    &.tall {
      padding-top: 60px;
      nav {
        height: 60px;
      }
      main {
        min-height: calc(100vh - 60px);
      }
    }
    &.wide {
      nav {
        width: 10em;

        > div {
          width: 10em;

          > ul {
            > li {
              margin: 0.5em 0;
            }
          }
        }
      }

      main {
        width: calc(100% - 10em);
      }
    }
  }

  &.desktop {
    &.tall {
      padding-top: 90px;
      nav {
        height: 90px;
      }
      main {
        min-height: calc(100vh - 90px);
      }
    }
    &.wide {
      nav {
        width: 20em;

        > div {
          width: 20em;

          > ul {
            > li {
              margin: 1em 0;
            }
          }
        }
      }

      main {
        width: calc(100% - 20em);
      }
    }
  }
}
