@import "../variables.scss";

.download {
  position: fixed;
  top: calc(90px + 1.5em);
  left: 50vw;
  z-index: 99;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  > a {
    display: block;
    color: white;
    padding: 0.5em 1em;
    white-space: nowrap;

    &, &:hover, &:visited, &:focus, &:focus-within {
      border-radius: 4px;
      background: $accent;
      cursor: pointer;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
  
    &:hover {
      opacity: 0.9 !important;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    }
  }
}

.small {
  .download {
    top: calc(60px + 1.5em);
  }
}

.landscape {
  .download {
    position: sticky;
    top: 1.5em;
    left: 50%;
  }
}

.pdf-document {
  margin-top: 1em;
}

.pdf-page {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  box-shadow: 0 0 12px $shadow;
}

.pdf-page:not(:first-of-type) {
  margin-top: 1em;
}

.pdf-page > canvas {
  width: 100% !important;
  height: auto !important;
}
