@import "../variables.scss";

main {
  position: relative;
  padding: 0 1em 1em;
  overflow: scroll;
}

section {
  position: relative;
  background: $background;
  box-shadow: 0 0 8px $shadow;
  padding: 0 1em 1em;
  margin: 3em auto;
  box-sizing: border-box;
  overflow-x: hidden;

  &:first-of-type {
    margin-top: 1em;

    picture-frame {
      height: auto;

      img {
        position: relative;
        width: 100%;
      }
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }

  h2 {
    padding: 1em 0;
    color: $pale-accent;
    border-bottom: 2px solid $pale-accent;
  }

  h3 {
    background: $dark-accent;
    color: $foreground;
    padding: 0.5em 0.5em;
  }

  p {
    padding: 1em 0;
    font-size: 1em;
    color: $color-main;
  }

  picture-frame {
    position: relative;
    width: calc(100% - 2em);
    max-width: 500px;
    box-shadow: 0 0 4px $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    overflow: hidden;
    box-sizing: border-box;
    height: auto;

    img {
      position: relative;
    }
  }
}

main.landscape {
  align-self: stretch;
  width: calc(100vw - 12em);

  section {
    min-height: calc(100vh - 1em);
    margin: 2em auto;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

main:not(.landscape) {
  width: 100vw;
  overflow-x: hidden;

  &.small {
    min-height: calc(100vh - 60px);
  }
  &:not(.small) {
    min-height: calc(100vh - 90px);
  }

  section > h2 {
    position: relative !important;
  }
}

article {
  padding: 1em 0 1em 1em;
  border-left: 2px solid $dark-accent;
  margin-top: 1em;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }

  > :not(:first-child) {
    padding: 1em 0 0;
  }
}
