.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: inherit;
}

.particles-container.fixed {
  position: fixed;
}

.particle {
	position: absolute;
 	border-radius: 50%;
}

@for $i from 1 through 200 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(120) * 1vw), (random(120) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 120s infinite;
		$size: random(5) + 2 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: rgba(200, 200, 200 + random(55), 0.1);
	}
}
