@import "./fonts.scss";

$dark-accent: rgb(53, 53, 70);
$accent: rgb(95, 158, 213);
$pale-accent: rgb(161, 197, 228);
$background: rgb(34, 34, 45);
$foreground: rgb(41, 41, 53);
$color-main: rgb(210, 210, 210);
$shadow: rgba(20, 20, 20, 0.5);
$serif: "Cormorant Garamond", serif;
$sans-serif:  "Montserrat", sans-serif;
$translucent-overlay-color: rgba(59, 88, 114, 0.653);;

.dark {
  $accent: purple;
  $dark-accent: green;
  $pale-accent: orange;
}
