$dark-accent: rgb(6, 40, 70);
$accent: rgb(11, 84, 148);
$pale-accent: rgba(11, 84, 148, 0.3);
$background: rgb(255, 255, 255);
$foreground: rgb(255, 255, 255);
$color-main: rgb(101, 101, 101);
$shadow: rgba(40, 40, 40, 0.2);
$serif: "EB Garamond", serif;
$sans-serif:  "Oxygen", sans-serif;
