@import "../variables.scss";

nav {
  position: fixed;
  top: 0;
  left: -12em;
  height: 100vh;
  width: 12em;
  z-index: 19;
  background: $translucent-overlay-color;
  transition: left 250ms, width 0;
  font-family: $sans-serif;
}

.outer {
  position: relative;
  max-width: 0;
  height: 100%;
  transition: 250ms;
  background: $background;
  overflow: hidden;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.inner {
  position: relative;
  height: 100%;
  width: 12em;
  transition: width 250ms;
}

nav.open {
  width: 100vw;
  left: 0;
  .outer {
    width: 12em;
    max-width: 12em;
  }
}

.landscape nav {
  left: 0;
  width: 12em;
  .outer {
    width: 12em;
    max-width: 12em;
  }
  .controlItem > a {
    border-radius: 0 24px 24px 0;
  }
}

.controlItem {
  position: relative;
  width: 100%;

  > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 48px;
    padding: 0 1em;
    cursor: pointer;
    transition: color 250ms, background 250ms;
    color: $accent;

    &:hover {
      background: $pale-accent;
      color: $dark-accent;
    }
    &:active {
      background: $accent;
      color: white;
    }
  }
}